.whytitle{
    position: relative;
    left: 73%;
    font-weight: bold;
    padding-top: 50px;
    width: 10px;
}
.else{
    float: right;
    font-weight: bold; 
    padding-left: 100px;
}
.whyblock{
    display: flex;
    position: relative;
    width: 40%;
    float: right;
    align-items: center;
    }
body{
    margin: 10;
    font-family: 'Times New Roman';
}
.time{
    display: flex;
    flex-direction: row;
    clear: both;
    float: left;
    margin-left: 5%;
    margin-top: -23%;
}
#timey{
    float: right;
    margin-left: -4%;
    width: 150px;
}
#dayy{
    float: left;
    width: 200px;
}
.caloriesleftsofar{
    clear: both;
    float: left;
    margin-left: 5%;
    margin-top: -21%;
}
#caloriessofar{
    float: left;
    width: 310px;
}
#caloriesleft{
    float: right;
    width: 310px;
}
#weekday{
    margin-left: -12%;
    float: left;
    width: 200px;
}
#daytime{
    margin-left: -7%;
    float: left;
    width: 200px;   
}
#nextmeal{
    margin-left: -12%;
}
#nextmealdisplay{
    margin-left: 1%;
}
.btn{
    padding: 10px 60px;
    margin-top: 10%;
    margin-left: -30%;
}
.popup{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 120px;
    border-radius: 6px;
    border-color: #050505;
    border-style: solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color : #171717;
    transition: transform 0.4s;
    visibility: hidden;
    background: #fff;
    justify-content: center;
}
.open-popup{
    visibility: visible;
}
.input{
    width: 40%;
    margin: 10px;
}