.whytitle{
    position: relative;
    left: 73%;
    font-weight: bold;
    padding-top: 50px;
    width: 10px;
}
.else{
    float: right;
    font-weight: bold; 
    padding-left: 100px;
}
.whyblock{
    display: flex;
    position: relative;
    width: 40%;
    float: right;
    align-items: center;
    }
body{
    margin: 10;
    font-family: 'Times New Roman';
}
.time{
    display: flex;
    flex-direction: row;
    clear: both;
    float: left;
    margin-left: 5%;
    margin-top: -23%;
}
.dropbtn {
    margin-top: -2%;
    color:black;
    background-color:white;
    border: none;
    height: 10px;
    font-size: 17px;
    font-weight:bolder;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block}  
.foodInformation{
    display: flex;
    flex-direction: row;
    margin-left: 27%;
    margin-top: 5%;
}
#dayy{
    float: left;
    width: 200px;
}
.caloriesleftsofar{
    float: left;
    width: 620px;
    margin-left: 5%;
    margin-top: -21%;
}
#caloriessofar{
    float: left;
    width: 310px;
}
#caloriesleft{
    float: right;
    width: 310px;

}
#caloriesSoFarNumber{
    margin-top: -100%;
    margin-right: 10%;
}
#weekday{
    margin-left: -20%;
    float: left;
    width: 200px;
}
#nextmeal{
    margin-left: -5%;
}
#nextmealdisplay{
    margin-left: 1%;
}
.btn{
    margin-left: 17.6%;
    position: absolute;
    padding: 10px 60px;
    margin-top: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.popup{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 120px;
    border-radius: 6px;
    border-color: #050505;
    border-style: solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color : #171717;
    transition: transform 0.4s;
    visibility: hidden;
    background: #fff;
    justify-content: center;
}
.open-popup{
    visibility: visible;
}
.input{
    width: 40%;
    margin: 10px;
}
table, th, td {
    border: 1px solid black;
}
table{
    margin-top: 75px;
    position: relative;
    margin-left: 75px;
    width: 565px;
    visibility: visible;
}